* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Oswald";
    color: white;
  }
  html {
    scroll-behavior: smooth;
  }
  html::-webkit-scrollbar{
    width: 8px;
    -webkit-appearance: none;
    background-color: rgb(2, 5, 43);
  }
  html::-webkit-scrollbar-track{
    width: 8px;
   
  }
  html::-webkit-scrollbar-thumb{
    background-color: rgb(255, 217, 0);
    border-radius: 20px;
    width: 8px;
  }
  body {
    background-color: rgb(2, 5, 43);
    padding: 20px;  
  }

  .menu-navegacion {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 217, 0);
    padding: 10px;
    z-index: 100;
  }
  
  .menu-navegacion a {
    font-weight: bold;
    text-decoration: none;
    padding: 5px 10px;
  }
  .inactive {
    color: rgb(2, 5, 43);
  }
  .active {
    background-color: rgb(2, 5, 43);
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
  }
  .active:hover {
    background-color: rgb(255, 217, 0);
    color: rgb(2, 5, 43);
    padding: 5px 10px;
    border-radius: 20px;
  }
  
  .inactive:hover {
    background-color: rgb(2, 5, 43);
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
  }
  .container{
    width: 100%;
    max-width: 1024px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .main-container {
    padding-top: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .contenido-principal-voluntario{
    display: flex;
    flex-direction: column;
  }