* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Oswald";
  color: white;
}
html {
  scroll-behavior: smooth;
}
html::-webkit-scrollbar{
  width: 8px;
  -webkit-appearance: none;
  background-color: rgb(2, 5, 43);
}
html::-webkit-scrollbar-track{
  width: 8px;
 
}
html::-webkit-scrollbar-thumb{
  background-color: rgb(255, 217, 0);
  border-radius: 20px;
  width: 8px;
}
body {
  background-color: rgb(2, 5, 43);
  padding: 20px;
  
}
.container{
  width: 100%;
  max-width: 1024px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.titulo {
  color: rgb(255, 217, 0);
  text-align: center;
}
.menu-navegacion {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(255, 217, 0);
  padding: 10px;
  z-index: 100;
}

.menu-navegacion a {
  font-weight: bold;
  text-decoration: none;
  padding: 5px 10px;
}
.inactive {
  color: rgb(2, 5, 43);
}
.active {
  background-color: rgb(2, 5, 43);
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
}
.active:hover {
  background-color: rgb(255, 217, 0);
  color: rgb(2, 5, 43);
  padding: 5px 10px;
  border-radius: 20px;
}

.inactive:hover {
  background-color: rgb(2, 5, 43);
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
}

.main-container {
  padding-top: 65px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.image-container {
  width: 600px;
  height: 600px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}
.texto-principal {
  width: 600px;
  height: 600px;
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  translate: -50% 100%;
  transition: translate 0.8s linear;
  background-color: rgba(5, 5, 5, 0.597);
  padding: 50px;
  font-weight: lighter;
  border-radius: 50%;
}

.image-container:hover .texto-principal {
  top: 50%;
  translate: -50% -50%;
}
.image-article {
  width: 600px;
  height: 400px;
  border-radius: 30px 0 30px 0;
  overflow: hidden;
  position: relative;
}
.texto-secundario {
  width: 600px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -100%;
  left: 0;
  transition: top 0.8s linear;
  background-color: rgba(5, 5, 5, 0.597);
  padding: 50px;
  font-weight: lighter;
  border-radius: 30px 0 30px 0;
}
.image-article:hover .texto-secundario {
  top: 0;
}
img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.btn-up {
  font-size: 30px;
  font-weight: bold;
  width: 30px;
  height: 30px;
  background-color: rgb(255, 217, 0);
  border-radius: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 9px;
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.btn-up a {
  color: rgb(2, 5, 43);
  text-decoration: none;
}
.container-horarios{
  width: 100%;
  padding: 10px;
}
#horarios{
  text-align: center;
}

dd{
  margin-left: 15px;
}
